<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head http-equiv="Content-Type" content="text/html" charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
<title>Post list</title>
<meta>
</head>
<body>
	<div class="container">
		<div th:fragment="header">
			<nav class="navbar navbar-expand-md navbar-fixed-top navbar-dark bg-dark main-nav">
				<!-- Brand/logo -->
				<a class="navbar-brand" href="#"> <img src="../../static/image/logo.jpg" th:src="@{/image/logo.jpg}"
						width="100" height="40" alt="">
				</a>
				<!-- Links -->
				<ul class="navbar-nav">
	
					<li class="nav-item"><a class="nav-link" href="#" th:href="@{/home}">Home</a></li>
					<li class="nav-item active"><a class="nav-link" href="#" th:href="@{/postlist}">Posts</a></li>
					<li class="nav-item"><a class="nav-link" href="#" th:href="@{/items}">Items </a></li>
					<li class="nav-item">
						<div>
							<form th:action="@{/logout}" method="post">
								<input type="submit" value="Sign Out" class="btn btn-outline-info" />
							</form>
						</div>
					</li>
	
				</ul>
	
			</nav>
		</div>
		<div class="container bg-success">
			<div style="margin: 0, auto">
				<div class="" style="margin: 0, auto">
					<h3 th:inline="text" style="text-align: center; color: yellow">Welcome: "
						[[${#httpServletRequest.remoteUser}]] "</h3>
					<h6 class="display-4">Food Sharing: A Spring Boot Web App</h6>
							</div>
						</div>
					<img class="rounded mx-auto d-block" src="../../static/image/sharingitem.gif" width="200"
							th:src="@{/image/sharingitem.gif}" />
					<hr class="my-4">
					<p class="text-justify">This application with the concept of front-end and back-end development was created 
						by using SpringBoot, Thymeleaf, Bootstrap, Spring Security, and also the implementation of the database
						connection comes with PostgreSQL. This food-sharing tracker was done by Sharon Cristell Quispe 
						Carhuapoma as a Final project for the Server Programming course. The ultimate purpose of this application
						is to create a database of items such as food and non-food household products that could be shared or needed by a user
						in order to keep track and unlock the value of items wasted in the home and local community.
						Therefore, the application contains two demos segmented by users: user/user (with the role of USER)
						and administrators: admin/admin (with the role of ADMIN). The idea of the app stems from the fact that most of my
						friends, neighbours or in general any kind of people want to share the excess of food going spare. </p>
						<p class="lead">
							<div style="padding: 0 20px; margin: 0 10px">
							
								<div>
									<img class="rounded mx-auto d-block" src="../../static/image/sharing.jpg" width="450"
										th:src="@{/image/sharing.jpg}" />
								</div>
							
							</div>
			</div>
	</div>
</body>
</html>